/*
altered by konrad höffner from "Dive Into HTML 5" stylesheet

Classname Legend

.f = "fancy"      = first paragraph of each chapter (gets a fancy drop-cap)
.c = "centered"   = centered footer text (also clears floats)
.a = "asterism"   = section break
.v = "navigation" = prev/next navigation links (not breadcrumbs)
.u = "Unicode"    = text contains Unicode characters (requires special font declaration to accommodate *cough* a certain browser)
.p = "prompt"     = command-line or interactive shell prompt within code listings

.dc = "drop cap"       = image simulating first-letter initial
.pp = "pretty print"   = apply syntax highlighting to this code block
.pf = "padded frame"   = black border with internal padding
.fr = "framed"         = black border, no padding
.ss = "screenshot"     = image, floated right, with margin
.bc = "browser compat" = browser compatibility table (td cells all contain checks, Xs, and asterisks)
.st = "simple table"   = table with 1px border in body font
.ho = "headers only"   = on a table row, denotes that this row contains only table headers

.note = "note/caution/important"   = indented block for tips/gotchas/language comparisons
.baa  = "best available ampersand" = wrapper block for ampersands

.zebra = "zebra stripes" = off-white background color (used for "zebra stripe" tables)

Acknowledgements & Inspirations

"The Elements of Typographic Style Applied to the Web" ... http://webtypography.net/toc/
"Use the Best Available Ampersand" ....................... http://simplebits.com/notebook/2008/08/14/ampersands.html
"Unicode Support in HTML, Fonts, and Web Browsers" ....... http://alanwood.net/unicode/
"Punctuation" ............................................ http://en.wikipedia.org/wiki/Punctuation
"Essays 1743" ............................................ http://www.thibault.org/fonts/essays/
"Linux Libertine" ........................................ http://linuxlibertine.sourceforge.net/
"CSS Styled Restaurant Menu" ............................. http://www.web-graphics.com/mtarchive/ItalianMenu.html
*/

imagesequence-image

/* links */

a
{
  text-decoration: none;
}

a:link
{
  color: FireBrick;
  border-bottom: 1px dotted;
}

a:visited
{
  color: RosyBrown;
  border-bottom: 1px dotted;
}

a:link:hover, a:visited:hover
{
  border-bottom: 1px solid;
}

.c a
{
  color: inherit;
}


nav
{
 background-color: black;
 color: white;
}

nav ul
{
list-style: none;
display:flex;
flex-wrap: wrap;
margin: 0px;
}

nav li
{
margin: 0em 0.15em;
width: 7em;
/*background-color: red;*/ /* For testing.*/
flex-grow: 1;
}

nav li a
{
line-height: 2em;
color: blue;
text-decoration: none;
text-align: center;
}
nav li a:link, nav li a:visited {color:white;border: 1px solid transparent;}
nav li a:link:hover,nav li a:visited:hover {border: 1px solid #000000;
}


.main
{
 padding: 1em 1em 0 1em;
}
/*a:hover{border-bottom:1px solid}
a:visited{color:blue}
*/

/* navigation abstract*/
.abstract
{
/* workaround to float border bug (without it border does not go around floats), see http://www.quirksmode.org/css/clearing.html */
  overflow: hidden;
  width: 100%;
/* -------------------------------------------------------------------------------------------------------------------------------*/
  text-align:center;
  margin: 1em;
  border: 1px dotted;
}

table td
{
    vertical-align: top;
}

/* typography */

@font-face {
  font-family: 'Essays 1743';
  src: url('../fonts/Essays1743.woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Essays 1743';
  src: url('../fonts/Essays1743-Bold.woff');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Essays 1743';
  src: url('../fonts/Essays1743-Italic.woff');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Essays 1743';
  src: url('../fonts/Essays1743-BoldItalic.woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Linux Libertine';
  src: url('../fonts/LinLibertine_R.woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Linux Libertine';
  src: url('../fonts/LinLibertine_RB.woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Linux Libertine';
  src: url('../fonts/LinLibertine_RI.woff');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Linux Libertine';
  src: url('../fonts/LinLibertine_RBI.woff');
  font-weight: bold;
  font-style: italic;
}
/*
html {
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
}

html, body {
  background: #fff;
  color: #000;
  margin: 0;
  padding: 0;
}
*/
body {
  font: large/1.556 "Linux Libertine", Palatino, "Palatino Linotype", "Book Antiqua", Georgia, "Times New Roman", serif;
  word-spacing: 0.1em;
  margin: 0;
}

pre, kbd, samp, code, var {
  font: medium/1.75 Consolas, "Andale Mono", Monaco, "Liberation Mono", "Bitstream Vera Sans Mono", "DejaVu Sans Mono", monospace;
  word-spacing: 0;
  letter-spacing: 0;
}

/*
.a, .u, table.bc tbody td {
  font: 100%/1 "Arial Unicode MS", FreeSerif, OpenSymbol, "DejaVu Sans", sans-serif;
}
.baa {
  font: oblique 105% Constantia, Baskerville, Palatino, "Palatino Linotype", "URW Palladio L", serif;
}
.note {
  margin: 3.112em 4.94em;
}
.note span {
  display: block;
  float: left;
  font-size: 266.7%;
  line-height: 0.8;
  margin: 0 0.22em 0 -1.22em;
}
.ss span {
  display: block;
  text-align: center;
  border-top: 3px double;
  border-bottom: 3px double;
}
.c {
  font-size: medium;
  line-height: 1.75;
  margin: 1.75em 0;
}
.f img {
  float: left;
  margin-right: 5px;
  margin-bottom: 5px;
  -ms-interpolation-mode: bicubic;
}
p, ul, ol {
  font-size: large;
  margin: 1.556em 0;
}

/* basics */
.clear {
  clear: both;
}
/*

.c, .a, #toc, form div {
  clear: both;
  text-align: center;
}

#toc ol, #toc li {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
.a {
  font-size: xx-large;
  line-height: .875;
  text-shadow: 0 0 2px #667;
}
.pf, .fr {
  border: 1px solid;
}
.pf {
  margin: 1.75em 0;
}
.pf .inner {
  min-height: 253px;
  margin: 0 15px 0 0;
  padding: 0 154px 1.75em 0;
  background: white url(i/openclipart.org_johnny_automatic_little_professor.png) bottom right no-repeat;
}
.pf .moneybags {
  min-height: 245px;
  margin: 0 15px 0 0;
  padding: 0 190px 1.75em 0;
  background: white url(i/openclipart.org_johnny_automatic_bag_of_money.png) bottom right no-repeat;
}
.pf h4 {
  margin: 0;
  padding: 4px;
  background: black;
  color: white;
}
.ss {
  float: right;
  margin: 0 0 1.75em 1.75em;
  font-size: medium;
}
address, cite, dfn, var {
  font-style: normal;
}
sup {
  font-variant: small-caps;
  vertical-align: text-top;
}
*/

/* figures and legends */
/*
.legend {
  font: italic x-large/1.75 "Essays 1743","Marker Felt","Kristen ITC","Viner Hand ITC","Lucida Handwriting",Amienne,Boopee,"Segoe Print","Times New Roman",serif;
  text-shadow: 0 0 1px #667;
  margin-left: 0.5em;
  vertical-align: top;
}
.arrow {
  font-size: 200%;
  line-height: 0.3;
  vertical-align: sub;
}
.left {
  float: left;
}
.right {
}
.top {
  margin-bottom: 0.3em;
  display: block;
}
.bottom {
  display:block;
  margin-top:0;
  margin-left:2em;
}
*/
/* code blocks */

pre {
  padding-left: 3.5em;
  white-space: pre; /* CSS2 */
  white-space: pre-wrap; /* CSS 2.1 */
  word-wrap: break-word; /* IE */
}
pre.ib {
  padding: 0;
}
mark {
  display: inline-block;
  background: #ff8;
  border: 1px dotted #888;
}
.p {
  color: #667;
}

/* overrides */
/*
li ol, .q, .v span {
  margin: 0;
}
code, var, samp {
  line-height:inherit !important;
}
*/
/* headers */
/*
h1, h2, h3, h4, caption, thead th {
  font-family: "Essays 1743", Palatino, "Palatino Linotype", "Book Antiqua", Georgia, "Times New Roman", serif;
  font-weight: normal;
  text-transform: uppercase;
  text-shadow: 0 0 1px #667;
}
h1 {
  font-size: 266.7%;
  line-height: 1.1;
  text-align: center;
  width: 100%;
  margin: 1.49em 0;
}
h2 {
  font-size: 210%;
  line-height: 1.3125;
  margin: 1.167em 0;
  text-align: center;
  clear: both;
}
h3 {
  font-size: x-large;
  line-height: 1.167;
  margin: 1.556em 0;
  text-align: center;
}
*/
/*
h1:before {
  content: "№" counter(h1) ".";
}
*/
/* video */
video {
  display: block;
  margin: 0 auto;
}

/* browser compatibility and other tables */
/*
.bc, .st {
  width:100%;
  border-collapse:collapse;
}

.bc tbody th, .bc thead th.l, tfoot td {
  text-align:left;
}

.bc thead th, .bc td {
  text-align:center;
}

tfoot {
  font-size:small;
}

.st {
  border: 1px solid;
}

.st th {
  text-align: left;
  font-weight: normal;
}

.st tr > th:first-child {
  padding-left: 5px;
}

.ho th {
  border-bottom: 1px solid;
}

.zebra {
  background: #eee;
}
*/

